
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
body{
    padding-top: 50px;
    overflow-x: hidden;
    text-decoration: none;
    background-color: #023047;
    background-image: linear-gradient(62deg, #023047 0%, #219ebc 82%, #8ecae6 100%);min-height: 100vh;
  }
h1{
    margin-top: 30px;
    color:#ffffff;
    text-decoration: none;
    font-size:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  
h3{
    margin-top: 110px;
    font-size:50px;
    /* background: -webkit-linear-gradient(45deg, #26D0CE, #56B4D3); */
    color:rgb(255, 255, 255) ;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
nav{
    margin-top: 25px;
    background: #83d8ff56;
    color:white;
    font-size: 30px;
    text-align:center;
    padding: -5px;
    text-decoration: none;
  }
  
nav ul{
    list-style-type: none;
    text-decoration: none;
  }
  
nav ul li{
  
    display: inline-block;
    text-decoration: none;
    padding:50px;
  }
nav a{
    text-decoration: none;
    text-decoration: none;
    color:white;
  }

.article{
    margin-top: 150px;
    width: 75%;
} 
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #282a2b;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
    cursor: pointer;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }